<br>
<br>
<br>
<h1 class="text-center">About Us</h1>
<br>
<br>
<p>I am a beginner web developer and this Day Planner was created as a project for my class. It is meant to look like a paper day planner with a schedule to fill up. It's in it's early stage and a few features haven't been implemented yet. I plan to add a "Complete Tasks" page where all the completed tasks would be stored, as well as a "Quote Archive" page where the user will be able to save the inspirational quotes that they like.</p>
