 <div class="container-sm" class="form-check" class="row justify-content-center">
    <table class="table table-sm table-striped" style="width: 450pt;">
        <col style="width:3%">
        <col style="width: 5%;">
	    <col style="width:2%">
        <tbody>
            <tr>
                <th scope="row">6AM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '6AM'">
                        <td>{{ tasks[i].category }}</td>
                        <td><input class="form-check-input" type="checkbox" value="" id="6"> {{ tasks[i].content }}</td>
                    </div>
                </div>
                <td><button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">7AM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '7AM'">
                        <td>{{ tasks[i].category }}</td>
                        <td><input class="form-check-input" type="checkbox" value="" id="7">{{ tasks[i].content }}</td>
                    </div> 
                </div> 
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">8AM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '8AM'">
                <td><input class="form-check-input" type="checkbox" value="" id="8AM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>                        
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">9AM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '9AM'">
                <td><input class="form-check-input" type="checkbox" value="" id="9AM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">10AM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '10AM'">
                <td><input class="form-check-input" type="checkbox" value="" id="10AM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">11AM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '11AM'">
                <td><input class="form-check-input" type="checkbox" value="" id="11AM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">12PM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '12PM'">
                <td><input class="form-check-input" type="checkbox" value="" id="12PM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">1PM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '1PM'">
                <td><input class="form-check-input" type="checkbox" value="" id="1PM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2PM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '2PM'">
                <td><input class="form-check-input" type="checkbox" value="" id="2PM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3PM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '3PM'">
                <td><input class="form-check-input" type="checkbox" value="" id="3PM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">4PM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '4PM'">
                <td><input class="form-check-input" type="checkbox" value="" id="4PM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">5PM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '5PM'">
                <td><input class="form-check-input" type="checkbox" value="" id="5PM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">6PM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '6PM'">
                <td><input class="form-check-input" type="checkbox" value="" id="6PM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">7PM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '7PM'">
                <td><input class="form-check-input" type="checkbox" value="" id="7PM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">8PM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '8PM'">
                <td><input class="form-check-input" type="checkbox" value="" id="8PM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">9PM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '9PM'">
                <td><input class="form-check-input" type="checkbox" value="" id="9PM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">10PM</th>
                <div *ngFor="let task of tasks; let i=index">
                    <div *ngIf="tasks[i].time === '10PM'">
                <td><input class="form-check-input" type="checkbox" value="" id="10PM">{{ tasks[i].content }}</td>
                    </div>
                </div>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
