<div class="container-sm" class="form-check" class="row justify-content-center">
    <!-- <table class="table table-sm table-striped table-bordered" -->
    <table class="table table-sm table-striped" style="table-layout: fixed; width: 50%;">
        <colgroup>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th style="width: 10%" style="text-align: center;" scope="col">Time</th>
                <th style="width: 15%" style="text-align: center;" scope="col">Task Category</th>
                <th style="width: 25%" style="text-align: center;" scope="col">Task</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">6AM</th>
                <ng-container #index6AM *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '6AM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">7AM</th>
                <ng-container #index7AM *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '7AM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">8AM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '8AM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">9AM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '9AM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">10AM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '10AM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">11AM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '11AM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">12PM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '12PM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">1PM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '1PM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">2PM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '2PM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">3PM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '3PM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">4PM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '4PM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">5PM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '5PM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">6PM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '6PM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">7PM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '7PM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">8PM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '8PM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">9PM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '9PM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
            <tr>
                <th scope="row">10PM</th>
                <ng-container *ngFor="let task of tasks; let i=index">
                    <ng-container *ngIf="tasks[i].time === '10PM'; else elseBlock">
                        <td [ngStyle]="{'color': tasks[i].category === 'urgent' ? 'red' : 'black'}">{{ tasks[i].category }}</td>
                        <td>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="checkbox"
                                style="margin-right: 5px;"         
                                >{{ tasks[i].content }}
                            <button 
                                style="margin-left: 20px" 
                                id="delete" 
                                type="button" 
                                class="btn btn-danger btn-sm"
                                (click)="onDeleteTask(i)"
                                >Delete
                            </button>
                        </td>
                        <ng-template #elseBlock>
                            <td></td>
                            <td></td>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>