<div class="container-sm">
    <table class="table table-sm table-striped table-light  ">
        <tbody>
        <tr>
            <th scope="row">6AM</th>
            <td>Wake up</td>
            <td><button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
            <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">7AM</th>
            <td>Eat breakfast</td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">8AM</th>
            <td>Shower</td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">9AM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr><tr>
            <th scope="row">10AM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr><tr>
            <th scope="row">11AM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr><tr>
            <th scope="row">12PM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr><tr>
            <th scope="row">1PM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr><tr>
            <th scope="row">2PM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr><tr>
            <th scope="row">3PM</th>
            <td>Meeting with Jenna</td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr><tr>
            <th scope="row">4PM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr><tr>
            <th scope="row">5PM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr><tr>
            <th scope="row">6PM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr><tr>
            <th scope="row">7PM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr><tr>
            <th scope="row">8PM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">9PM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">10PM</th>
            <td></td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr>

        </tbody>
    </table>
</div>  
