/* You can add global styles to this file, and also import other style files */
$primary-color: #F2F3F4;
$font: 'Asap Condensed', sans-serif;


body { 
    background-color: $primary-color; 
    font-family: $font;
}